<form class="signup-form">
  <div>
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName"><br>
  </div>
  <div>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName"><br>
  </div>
  <div>
    <label for="email-signup">Email:</label><br>
    <input type="email" id="email" name="email"><br>
  </div>
  <div>
    <label for="password-signup">Password:</label><br>
    <input type="password" id="password" name="password"><br>
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>